= form_for @trip do |f|
  - if @trip.errors.any?
    #error_explanation
      h2 = "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
      ul
        - @trip.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :from_date
    = f.date_select :from_date
  .field
    = f.label :to_date
    = f.date_select :to_date
  .actions = f.submit
