h2.heading 旅一覧

ul.trip-card-list
  li.trip-card(v-for="trip in trips")
    a(href="/trips/{{ trip.id }}")
      .trip-card__photo
        img(src="http://placehold.it/150x150")
      .trip-card__detail
        p.trip-card__title= "{{ trip.name }}"
        p.trip-card__date
          span from
          span -
          span to

  .trip-card-add
    input.trip-card__name(type="text" v-model="newTrip.name")
    input.trip-card__from-date(type="text")

  button.trip__add-btn(v-on:click="addTrip")
    | add new trip

