p#notice = notice

p
  strong Title:
  = @trip.title
p
  strong Description:
  = @trip.description
p
  strong From date:
  = @trip.from_date
p
  strong To date:
  = @trip.to_date

= link_to 'Edit', edit_trip_path(@trip)
'|
= link_to 'Back', trips_path
