// Buttons
//
// ボタンです。
//
// .button - 普通のボタンです。ホバーで色が変わります。
// .button.button-primary - プライマリボタンです。
// .button.button-secondary - セカンダリボタンです。
//
// Markup:
// <button class="{$modifiers}">普通のボタン</button>
//
// Styleguide 2.1

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  50% { 
    transform: rotate(180deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

@mixin button {
  display: inline-block;
  padding: 10px 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  border: 1px solid #d8d8d8;
  border-radius: 0;
  color: #333333;
  background-color: #efefef;
  transition: 300ms cubic-bezier(0.2, 1.0, 0.2, 1.0);

  &:hover {
    background-color: #e0e0e0;
    color: black;
  }

  &.is-loading {
    &:before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid #333;
      border-right: transparent;
      border-radius: 50%;
      box-sizing: border-box;
      vertical-align: middle;
      margin-right: 5px;
      animation: spin 1s infinite linear;
    }
  }
}

.button {
  @include button;
}

.button-primary {
  @include button;
  color: #fff;
  background-color: $basecolor-primary;
  border: 1px solid $basecolor-primary-hover;

  &:hover {
    background-color: $basecolor-primary-hover;
    color: #fff;
  }
}

.button-secondary {
  @include button;
  color: #fff;
  background-color: $basecolor-secondary;
  border: 1px solid $basecolor-secondary-hover;

  &:hover {
    background-color: $basecolor-secondary-hover;
    color: #fff;
  }
}

