// Code
//
// コードブロック
//
// .code - 普通のボタンです。ホバーで色が変わります。
//
// Markup:
// <pre class="code">
//   class Sample {
//     // any codes
//   }
//
// Styleguide 2.2

.code {
  font-family: 'Monaco', "Liberation Mono", Menlo, Courier, monospace;
  background: #eee;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
