h1.heading {
  color: $basecolor-primary;
  border-left: 5px solid $basecolor-primary;
  padding: 4px 0 4px 10px;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
}

h2.heading {
  margin: 20px 0;
  padding: 2px 0 2px 10px;
  color: $basecolor-primary;
  border-left: 5px solid $basecolor-primary;
  font-size: 14px;
  font-weight: bold;
}
