.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $basecolor-primary;
  border-right-color: transparent;
  box-sizing: border-box;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  50% { 
    transform: rotate(180deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

