@import "normalize";

$font-size-base: 13px;

html {
  overflow-y: scroll; 
}

// ----------------------------------------------
//  FONTS
// ----------------------------------------------

body, input, select, textarea, table, th, td, li ,a {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Droid Sans', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

body {
  color: $basecolor-font;
  font-size: $font-size-base;
  line-height: 1.7;
}

ruby rt{
  color: #666666;
}

hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #cccccc;
  margin: 0px 5px;
}

// ----------------------------------------------
//  LIST
// ----------------------------------------------

ol, ul {
}

// ----------------------------------------------
//  LINK
// ----------------------------------------------

a {
  color: $basecolor-font;
  text-decoration: none;
  outline: none;
  margin: auto 2px;

  &:hover {
    color: $basecolor-link;
  }
}

// ----------------------------------------------
//  IMAGE
// ----------------------------------------------

img {}

// ----------------------------------------------
//  FORM
// ----------------------------------------------

@mixin input-focuced() {
	border: 1px solid $basecolor-primary-hover;
  outline: none;
}

input[type="text"], 
input[type="password"], 
input[type="search"], 
input[type="tel"], 
input[type="url"], 
input[type="email"], 
input[type="datetime"], 
input[type="date"], 
textarea {
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  padding: 10px;
  vertical-align: middle;
  box-sizing: border-box;

  &:hover {
    border: 1px solid #C6D8ED;
  }

  &:focus {
    @include input-focuced;
  }
}

select {
  margin: 5px;
  vertical-align: middle;
  border: 1px solid #d8d8d8;
  padding: 6px 5px;
  outline: none;
  box-sizing: border-box;

  &:hover {
    background-color: #fff;
  }
}

:placeholder-shown {
    color: #999;
}

label {
  padding: 5px;

  &:hover {
    color: $basecolor-primary;
  }
}

input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
  margin: 5px;
}

button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  color: #333333;
  background-color: #efefef;
}
