// 登録フォーム
//
// 登録フォームです。
//
// .form - フォーム
//
// Markup:
// <form class="form">
//   <div class="form-control">
//     <div class="form-control__label">
//       <label>label</label>
//     </div>
//     <div class="form-control__item">
//       <input type="text">
//     </div>
//   </div>
//   <div class="form-control">
//     <div class="form-control__label">
//       <label>label</label>
//     </div>
//     <div class="form-control__item">
//       <input type="text">
//       <p class="form-control__error">something error</p>
//     </div>
//   </div>
//   <div class="form-control-action">
//     <input type="submit" class="form-control-action__submit" value="登録">
//   </div>
// </form>
//
// Styleguide 3.5

.form {
  padding: 10px;
}

.form-control {
  display: table;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;

  .form-control__label {
    display: table-cell;
    box-sizing: border-box;
    width: 20%;

    label {
      padding: 0;
    }
  }

  .form-control__item {
    display: table-cell;
    box-sizing: border-box;
    
    input {
      width: 100%;
    }
  }

  .form-control__error {
    color: $basecolor-error;
    line-height: normal;
    margin: 3px auto;
  }
}

.form-control-action {
  text-align: center;

  .form-control-action__submit {
    @extend .button;
    @extend .button-primary;
    width: 50%;
  }
}
