// サイトヘッダー
//
// サイトのヘッダー
//
// .header - ヘッダー
//
// Markup:
// <header class="header">
//   <div class="header__inner">
//     <h2 class="header__logo">LOGO</h2>
//     <ul class="header-menu">
//       <li class="header-menu__item"><a href="#">menu1</a></li>
//       <li class="header-menu__item"><a href="#">menu2</a></li>
//     </ul>
//   </div>
// </header>
//
// Styleguide 3.1

.header {
  background-color: $header-bg-color;
  color: $header-fg-color;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 5px 1px rgba(100, 100, 100, 0.3);

  .header__inner {
    height: 100%;
    position: relative;
  }

  .header__logo {
    display: inline-block;
    width: 200px;
    height: 100%;
    padding: 0 10px;
    line-height: normal;
  }
}

.header-menu {
  display: inline-block;
  position: absolute;
  height: 100%;
  right: 0;
  padding: 0;
  margin: 0;

  .header-menu__item {
    display: inline-block;
    list-style: none;
    height: 100%;

    a {
      display: inline-block;
      color: white;
      font-weight: bold;
      height: 100%;
      line-height: 60px;
      padding: 0 20px;
    }

    &:hover {
      background-color: $basecolor-primary-hover;
    }
  }
}
