// ログインフォーム
//
// サイトのログインフォーム
//
// .login-form - ログインフォーム
//
// Markup:
// <form class="login-form">
//   <p class="login-form__error">IDまたはパスワードが違います</p>
//   <div class="login-form-control">
//     <input type="text" class="login-form-control__item">
//   </div>
//   <div class="login-form-control">
//     <input type="password" class="login-form-control__item">
//   </div>
//   <div class="login-form-submit">
//     <input type="submit" class="button button-primary">
//   </div>
//   <div class="login-form-register">
//     <a href="/signup">新規登録はこちら</a>
//   </div>
// </form>
//
// Styleguide 3.2

.login-form {
  margin: 10px auto;
  padding: 10px;
  width: 500px;
  border: solid 1px #ccc;
  border-radius: 5px;

  .login-form__error {
    color: $basecolor-error;
    margin: 3px;
  }
}

.login-form-control {
  margin: 10px 0;

  input {
    width: 100%;
  }
}

.login-form-submit {
  margin: 10px 0;
  text-align: center;

  input[type="submit"] {
    width: 100%;
  }
}

.login-form-register {
  text-align: center;
}
