.side-menu {
  list-style: none;
  color: #333333;

  .side-menu-title {
    font-weight: bold;
    font-size: 20px;
  }

  .side-menu-item {
    font-size: 15px;
    margin-left: 0px;
    line-height: 30px;

    &:hover {
      background-color: #f4f4f4;
      border-left: solid 5px darkgray;
    }

    &.is-active {
      background-color: #f4f4f4;
    }
  }

  .side-menu-item a {
    display: block;
    padding-left: 10px;
    
    &:hover {
      color: #333333;
    }
  }
}

