// Trip
// 
// Styleguide 3.6.0

// Tripカード
//
// .trip-card - Trip一覧に表示するカード
// 
// Styleguide 3.6.1

.trip-card-list {
  margin-bottom: 20px;
}

.trip-card {
  height: 150px;
  border: solid 1px $basecolor-primary;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 2px 3px rgba(0,0,0,0.1);
  transition: transform .1s linear;
  margin-bottom: 10px;

  a {
    display: flex;
  }

  .trip-card__photo {
    img {
      height: 150px;
      vertical-align: bottom;
    }
  }

  .trip-card__detail {
    padding: 10px;
  }

  &:hover {
    transform: scale(1.01);
  }
}
