//=========================================
// Base Color
//=========================================

$basecolor-primary: #00b295;
$basecolor-primary-hover: darken($basecolor-primary, 10%);
$basecolor-secondary: #fa7d00;
$basecolor-secondary-hover: darken($basecolor-secondary, 10%);

$basecolor-font: #333;
$basecolor-link: #0cd4b3;

$basecolor-error: #fc0313;

//=========================================
// HEADER
//=========================================

$header-bg-color: $basecolor-primary;
$header-fg-color: #fff;
