doctype html
html
  head
    title= 'hermes'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body

    header.header.l-header
      .header__inner.l-header-inner
        h2.header__logo HERMES

        ul.header-menu
          li.header-menu__item
           a(href="#") menu

    main.l-main
      .l-main-inner
        = yield
